/* .counter-card {
    width: 250px;
    padding: 20px;
    border: 2px solid black;
    border-radius:10px
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 20px;
} */

.card {
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius:10px
}